{% extends 'ManagerBundle:Form:horizontal-theme-form.html.twig' %}

{%- block _managerbundle_broker_account_widget -%}
    <div class="managerbundle-broker-account-box-body">
        <h4 class="with-border">Account</h4>
        {{ form_widget(form) }}
    </div>
{%- endblock -%}

{# Broker commissions #}

{%- block _managerbundle_broker_commissions_widget -%}
    {{ block('commissions_widget', 'ManagerBundle:commission:theme-form.html.twig') }}
{%- endblock -%}

{%- block _managerbundle_broker_commissions_entry_row -%}
    {{ block('commissions_entry_row', 'ManagerBundle:commission:theme-form.html.twig') }}
{%- endblock -%}



{# Market commissions #}

{%- block _managerbundle_broker_markets_widget -%}
    {%- if form.vars.value is instanceof("Doctrine\\ORM\\PersistentCollection") -%}
        <div class="col-sm-12">
            {{ form_widget(form) }}
        </div>
    {%- else -%}
        {{ form_widget(form) }}
    {%- endif -%}
{%- endblock -%}

{%- block _managerbundle_broker_markets_entry_widget -%}
    <div class="col-sm-12">
        {{ form_widget(form) }}
    </div>
{%- endblock -%}

{%- block _managerbundle_broker_markets_entry_commissions_widget -%}
    {%- set form_table_title = form.parent.vars.value.name -%}
    {{ block('commissions_widget', 'ManagerBundle:commission:theme-form.html.twig') }}
{%- endblock -%}

{%- block _managerbundle_broker_markets_entry_commissions_entry_row -%}
    {{ block('commissions_entry_row', 'ManagerBundle:commission:theme-form.html.twig') }}
{%- endblock -%}

{%- block  _managerbundle_broker_markets_entry_commissions_entry_name_widget -%}
    {{ block('entry_name_widget', 'ManagerBundle:commission:theme-form.html.twig') }}
{%- endblock -%}

{%- block  _managerbundle_broker_markets_entry_commissions_entry_type_widget -%}
    {{ block('entry_type_widget', 'ManagerBundle:commission:theme-form.html.twig') }}
{%- endblock -%}

{%- block  _managerbundle_broker_markets_entry_commissions_entry_value_widget -%}
    {{ block('entry_value_widget', 'ManagerBundle:commission:theme-form.html.twig') }}
{%- endblock -%}

{%- block  _managerbundle_broker_markets_entry_commissions_entry_frequency_widget -%}
    {{ block('entry_frequency_widget', 'ManagerBundle:commission:theme-form.html.twig') }}
{%- endblock -%}

{%- block  _managerbundle_broker_markets_entry_commissions_entry_applied_widget -%}
    {{ block('entry_applied_widget', 'ManagerBundle:commission:theme-form.html.twig') }}
{%- endblock -%}

{%- block  _managerbundle_broker_markets_entry_commissions_entry_percentage_widget -%}
    {{ block('entry_percentage_widget', 'ManagerBundle:commission:theme-form.html.twig') }}
{%- endblock -%}
