{% import 'ManagerBundle:Macros:render.html.twig' as render %}

{% extends 'base.html.twig' %}

{% block avanzu_page_title %} {{ entity_type|title }}s {% endblock %}
{% block avanzu_page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <a href="{{ new_url|default('#') }}" class="btn btn-success pull-right">
                        <i class="fa-plus-circle fa" aria-hidden="true"></i> Create new {{ entity_type|lower }}</a>
                </div>
                <div class="box-body">
                    <table id="operationtypes" class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="60" class="text-center" scope="col">#</th>
                                {% for field in fields %}
                                    <th {% if field.col_with is defined %} width="{{ field.col_with }}" {% endif %} scope="col">
                                        {% if field.label is not defined %}{{ field.name|upper }}{% else %}{{ field.label|upper }}{% endif %}
                                    </th>
                                {% endfor %}
                                <th width="{% if show_route is defined %}122{% else %}100{% endif %}" scope="col">MANAGE</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in entities %}
                            <tr>
                                <th style="vertical-align: middle;" scope="row" class="text-center">{{ item.id }}</th>
                                {% for field in fields %}
                                    <td style="vertical-align: middle;">
                                        {{ render.field(attribute(item, field.name), field) }}
                                    </td>
                                {% endfor %}
                                <td>
                                    {% if show_route is defined %}
                                    <button type="button"  data-href="{{ path(show_route, { 'id': item.id }) }}" class="entity-view btn btn-info btn-sm pull-left"
                                       data-toggle="modal" data-target="#modal-show">
                                        <i class="fa-eye fa" aria-hidden="true"></i>
                                    </button>
                                    {% endif %}
                                    <a href="{{ path(edit_route, { 'id': item.id }) }}"  style="margin-left: 3px"
                                       class="btn btn-primary btn-sm pull-left">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <form id="entity_{{ item.id }}" action="{{ path(delete_route, { 'id': item.id }) }}" method="post"
                                          class="pull-left" style="margin-left: 3px">
                                        <input type="hidden" name="_method" value="DELETE" />
                                        {{ form_widget(delete_forms[item.id]) }}
                                        <button type="button" data-backdrop="static" data-keyboard="false" class="entity-delete btn btn-danger btn-sm" data-target="#modal-delete"
                                                {#data-toggle="modal" data-id="{{ item.id }}" data-title="{{ render.render(item) }}">#}
                                                data-toggle="modal" data-id="{{ item.id }}" data-title="{{ attribute(item, '__toString') }}">
                                            <i class="fa-trash-o fa" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% embed 'ManagerBundle:Partials:modal.html.twig' with {
    'dialog' : 'confirm-delete-dialog',
    'request' : 'true',
    'modal_id' : 'modal-delete'
    } %}
    {% endembed %}

    {% if show_route is defined %}
    {% embed 'ManagerBundle:Partials:modal.html.twig' with {
    'dialog' : 'loading-dialog',
    'modal_id' : 'modal-show'
    } %}
    {% endembed %}
    {% endif %}

{% endblock %}

{% block avanzu_javascripts_inline %}
    <script>
        $(document).on("click", ".entity-delete", function () {
            var $form = $(this);

            var itemId = $form.data('id');
            var itemTitle = $form.data('title');

            $(".modal-footer #itemId").val( itemId );
            $(".modal-body p").text($(".modal-body p").text().replace("title", itemTitle));

            console.log('Confirm delete "' + itemTitle + '" with ID: ' + itemId);


            $('#modal-delete i').hide();
            // As pointed out in comments,
            // it is superfluous to have to manually call the modal.
            var modal = $('#modal-delete');
            modal.modal('show');

            // On delete confirm
            modal.modal({ backdrop: 'static', keyboard: false })
                .on('click', '#confirm-submit', function(){
                    console.log('yes');
                    $('#entity_' + itemId).submit();

                    // Block the panel
                    modal.modal({backdrop: 'static', keyboard: false});
                    $('#modal-delete .modal-dialog').hide();
                    modal.css('text-align','center');

                    var $processing = $('#modal-delete i');
                    $processing.show();
                });
        });

        {% if show_route is defined %}
        $(document).ready(function(){
            $("#modal-show").on("show.bs.modal", function(e) {
                $("#modal-show .modal-content")
                    .html('{% spaceless %}{% include 'ManagerBundle:Partials:spinner.html.twig' %}{% endspaceless %}');
                var href = $(e.relatedTarget).data('href');
                $.get(href, function(data) {
                    $("#modal-show .modal-content").html(data);
                });

            });
        });
        {% endif %}
    </script>
{% endblock %}

