{% extends 'base.html.twig' %}

{% block avanzu_page_title %} {{ entity_type|title }}s {% endblock %}
{% block avanzu_page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <a href="{{ new_url|default('#') }}" class="btn btn-success pull-right">
                        <i class="fa-plus-circle fa" aria-hidden="true"></i> Create new {{ entity_type|lower }}</a>
                </div>
                <div class="box-body">
                    <table id="operationtypes" class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="70" class="text-center" scope="col">#</th>
                                {% for field in fields %}
                                    <th {% if field.col_with is defined %} width="{{ field.col_with }}" {% endif %} scope="col">{{ field.key|upper }}</th>
                                {% endfor %}
                                <th width="100" scope="col">MANAGE</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in entities %}
                            <tr>
                                <th style="vertical-align: middle;" scope="row" class="text-center">{{ item.id }}</th>
                                {% for field in fields %}
                                    <td style="vertical-align: middle;">{{ attribute(item, field.key) }}</td>
                                {% endfor %}
                                <td>
                                    <a href="{{ path(edit_route, { 'id': item.id }) }}"
                                       class="btn btn-primary btn-sm pull-left">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <form id="entity_{{ item.id }}" action="{{ path(delete_route, { 'id': item.id }) }}" method="post"
                                          class="pull-left" style="margin-left: 3px">
                                        <input type="hidden" name="_method" value="DELETE" />
                                        {{ form_widget(delete_forms[item.id]) }}
                                        <button type="button" data-backdrop="static" data-keyboard="false" class="entity-delete btn btn-danger btn-sm" data-target="#modal-background"
                                                data-toggle="modal" data-id="{{ item.id }}" data-title="{{ attribute(item, '__toString')}}">
                                            <i class="fa-trash-o fa" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% embed 'ManagerBundle:Partials:modal.html.twig' with {
    'dialog' : 'confirm-delete-dialog'
    } %}
    {% endembed %}
{% endblock %}

{% block avanzu_javascripts_inline %}
    <script>
        $(document).on("click", ".entity-delete", function () {
            var $form = $(this);

            var itemId = $form.data('id');
            var itemTitle = $form.data('title');

            $(".modal-footer #itemId").val( itemId );
            $(".modal-body p").text($(".modal-body p").text().replace("title", itemTitle));

            console.log('Confirm delete "' + itemTitle + '" with ID: ' + itemId);


            $('#modal-background i').hide();
            // As pointed out in comments,
            // it is superfluous to have to manually call the modal.
            var modal = $('#modal-background');
            modal.modal('show');

            // On delete confirm
            modal.modal({ backdrop: 'static', keyboard: false })
                .on('click', '#confirm-submit', function(){
                    console.log('yes');
                    $('#entity_' + itemId).submit();

                    // Block the panel
                    modal.modal({backdrop: 'static', keyboard: false});
                    $('#modal-background .modal-dialog').hide();
                    modal.css('text-align','center');

                    var $processing = $('#modal-background i');
                    $processing.show();
                });
        });
    </script>
{% endblock %}

