{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actiontypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actionType in actionTypes %}
            <tr>
                <td><a href="{{ path('actiontypes_show', { 'id': actionType.id }) }}">{{ actionType.id }}</a></td>
                <td>{{ actionType.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('actiontypes_show', { 'id': actionType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('actiontypes_edit', { 'id': actionType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actiontypes_new') }}">Create a new actionType</a>
        </li>
    </ul>
{% endblock %}
