{% import 'ManagerBundle:Macros:render.html.twig' as render %}

{% set modal = null %}
<table id="{{ entity_type|lower|trim(' ') }}s" class="table table-bordered">
    <thead>
    <tr>
        <th width="60" class="text-center" scope="col">#</th>
        {% include 'ManagerBundle:Table:head-field-table.html.twig' %}
        <th width="{% if extra_buttons is defined %}{{ extra_buttons|length * 22 + 100 }}{% else %}100{% endif %}" scope="col">MANAGE</th>
    </tr>
    </thead>
    <tbody>
    {% for item in entities %}
        <tr>
            <th style="vertical-align: middle;" scope="row" class="text-center">{{ item.id }}</th>
            {% for field in fields %}
                <td style="vertical-align: middle;">
                    {{ render.field(attribute(item, field.name), field) }}
                </td>
            {% endfor %}
            <td>
                {% if extra_buttons is defined %}
                    {% for button in extra_buttons %}
                        {% if not modal %}{% set modal = button.modal|default(1) %}{% endif %}

                        {% if button.modal is not defined or button.modal %}
                            <button type="button"  data-href="{{ path(button.route, { 'id': item.id }) }}"
                                    class="entity-{{ button.action|default('view') }} btn btn-{{ button.type|default('info') }} btn-sm pull-left"
                                    data-toggle="modal" data-target="#modal-show">
                                <i class="fa-{{ button.icon|default('eye') }} fa" aria-hidden="true"></i>
                            </button>
                        {% else %}
                            <a href="{{ path(button.route, { 'id': item.id }) }}"
                               class="entity-{{ button.action|default('view') }} btn btn-{{ button.type|default('info') }} btn-sm pull-left">
                                <i class="fa-{{ button.icon|default('eye') }} fa" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <a href="{{ path(edit_route, { 'id': item.id }) }}"  style="margin-left: 3px"
                   class="btn btn-primary btn-sm pull-left">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <form id="entity_{{ item.id }}" action="{{ path(delete_route, { 'id': item.id }) }}" method="post"
                      class="pull-left" style="margin-left: 3px">
                    <input type="hidden" name="_method" value="DELETE" />
                    {{ form_widget(delete_forms[item.id]) }}
                    <button type="button" data-backdrop="static" data-keyboard="false" class="entity-delete btn btn-danger btn-sm" data-target="#modal-delete"
                            data-toggle="modal" data-id="{{ item.id }}" data-title="{{ attribute(item, '__toString') }}">
                        <i class="fa-trash-o fa" aria-hidden="true"></i>
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% embed 'ManagerBundle:Modal:modal.html.twig' with {
'dialog' : 'confirm-delete-dialog',
'request' : 'true',
'modal_id' : 'modal-delete'
} %}
{% endembed %}

{% if modal %}
    {% embed 'ManagerBundle:Modal:modal.html.twig' with {
    'dialog' : 'loading-dialog',
    'modal_id' : 'modal-show'
    } %}
    {% endembed %}
{% endif %}