{% form_theme form 'ManagerBundle:layout:form-theme.html.twig' %}

<!-- Horizontal Form -->
<div class="box {% if box_type %}box-{{ box_type|default('info') }}{% endif %}">
    <div class="box-header with-border">
        <h3 class="box-title">{{ block('box_title') }}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="box-body">
            {{ form_widget(form) }}
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <a href="{{ cancel_url|default('#') }}" class="btn btn-default">Cancel</a>
            <button id="submit-btn" type="submit" class="btn btn-{{ box_type|default('info') }} pull-right"
                    data-backdrop="static" data-keyboard="false">
                <i class="fa fa-check-square"></i> {{ submit_type|default('Submit') }}
            </button>
        </div>
        <!-- /.box-footer -->
    {{ form_end(form) }}
</div>
