{% extends 'ManagerBundle:layout:form-theme.html.twig' %}

{# Label #}
{% block form_label %}
    <div class="col-sm-3">
        {{ parent() }}
    </div>
{% endblock form_label %}

{# Input #}
{% block form_widget_simple %}
    <div class="col-sm-9">
        {{ parent() }}

        {% if help is defined %}
            <p class="help-block">{{ help }}</p>
        {% endif %}
    </div>
{% endblock %}

{%- block textarea_widget -%}
    <div class="col-sm-9">
        {{ parent() }}
    </div>
{%- endblock textarea_widget -%}

{%- block choice_widget -%}
    <div class="col-sm-9">
        {{ parent() }}
    </div>
{%- endblock choice_widget -%}

{%- block date_widget -%}
    <div class="col-sm-9">
        {{ parent() }}
        {#{%- if widget == 'single_text' -%}#}
            {#{{ block('form_widget_simple') }}#}
        {#{%- else -%}#}
            {#<div {{ block('widget_container_attributes') }}>#}
                {#{{- date_pattern|replace({#}
                    {#'{{ year }}':  form_widget(form.year),#}
                    {#'{{ month }}': form_widget(form.month),#}
                    {#'{{ day }}':   form_widget(form.day),#}
                {#})|raw -}}#}
            {#</div>#}
        {#{%- endif -%}#}
    </div>
{%- endblock date_widget -%}
