{% extends 'base.html.twig' %}

{% block body %}
    <h1>Operationtype</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ operationType.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ operationType.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('operationtypes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('operationtypes_edit', { 'id': operationType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
