{% set _form_theme = form_theme|default('ManagerBundle:Form:horizontal-theme-form.html.twig') %}
{% form_theme form _form_theme %}

{% embed 'ManagerBundle:Layout:box.html.twig'%}
    {% block box_title %}{{ box_title }}{% endblock %}
    {% block _box %}
        {{ form_start(form, {'attr': {'id': 'entity-form', 'class': 'form-horizontal'}}) }}
        <div class="box-body">
            {{ form_widget(form) }}
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            {% if box_button is defined %}
                {{ box_button }}
            {% else %}
                {% include 'ManagerBundle:Form:button-form.html.twig' %}
            {% endif %}
        </div>
        <!-- /.box-footer -->
        {{ form_end(form) }}
    {% endblock %}
{% endembed %}
