{% set _form_theme = form_theme|default('ManagerBundle:Form:horizontal-theme-form.html.twig') %}
{% form_theme form _form_theme %}

{% embed 'ManagerBundle:Layout:box.html.twig'%}
    {% block box_title %}{{ box_title }}{% endblock %}
    {% block _box %}
        {{ form_start(form, {'attr': {'id': 'entity-form', 'class': 'form-horizontal'}}) }}
        <div class="box-body">
            {{ form_widget(form) }}
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <a href="{{ cancel_url|default('#') }}" class="btn btn-default">Cancel</a>
            <button id="submit-btn" type="submit" class="btn btn-{{ box_type|default('info') }} pull-right">
                <i class="fa fa-check-square" aria-hidden="true"></i> {{ submit_type|default('Submit') }}
            </button>
        </div>
        <!-- /.box-footer -->
        {{ form_end(form) }}
    {% endblock %}
{% endembed %}
